:host {
	display: block;
	height: -webkit-fill-available;
	position: relative;

	.button-container {
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: center;
		bottom: 5rem;

		button {

		}
	}
}
