

<ng-container *ngIf="locationService.userGeolocation() else noLocation">

	<a-scene 
		vr-mode-ui="enabled: false"
		inspector
		arjs="sourceType: webcam; videoTexture: true; debugUIEnabled: true;"
		(loaded)="loaded($event)"
	>
		<!-- <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere> -->
		<a-box
			*ngFor="let point of points"
			scale="20 20 20" 
			color="red" 
			[attr.gps-new-entity-place]="'latitude: {{point.lat}}; longitude: {{point.lng}}'">
		</a-box>
		<a-text value="Hello World." look-at="[gps-camera]" scale="120 120 120"
			[attr.gps-entity-place]="'latitude: {{locationService.userGeolocation().lat}}; longitude: {{locationService.userGeolocation().lat}}'"></a-text>
		<a-camera gps-camera rotation-reader> </a-camera>
	</a-scene>
	<div class="button-container">
		<button hlmBtn (click)="closeExperience.emit()" class="close-button">Exit Experience</button>
	</div>
</ng-container>

<ng-template #noLocation> 
	Loading Location
</ng-template>